{
    email kristina.trinity@anymouse.org
}


cityrising.anymouse.org {
    reverse_proxy metabase:3000
}

admin.cityrising.anymouse.org {
    handle_path /static/* {
        root * /srv/static/
        file_server
    }
    reverse_proxy  django:8000
}

cityrising2.anymouse.org {
    redir https://cityrising.anymouse.org{uri}
}
