{
    email {$DOMAIN_EMAIL}
}


 {$WEBHOSTNAME} {
    handle /django/admin/static/* {
        root * /srv/
        file_server
    }
    reverse_proxy /django/ django:8000
    reverse_proxy /metabase/ metabase:3000
}