{
    email {$DOMAIN_EMAIL}
}


 cityrising2.anymouse.org {
    reverse_proxy metabase:3000
}

 https://cityrising2.anymouse.org:4443 {
    handle /admin/static/* {
        root * /srv/
        file_server
    }
    reverse_proxy  django:8000
 }